@font-face {
    font-family: Minecraft;
    src: url(/fonts/Minecraft.ttf);
}

$text-color: hsl(0, 0%, 83%);
$bg-color: hsl(0, 0%, 15%);
$bg-card-color: hsl(0, 0%, 20%);
$orange: #DD6D19;
$box-shadow:    0.5em 0.5em 2em #1b1b1b,inset 0 0 0 #353535;
$border-radius: 0.7em;
$font-family: 'Barlow Condensed', sans-serif;
$mine-font-family: "Minecraft", sans-serif;