@import 'variables';

.section__developer{
    width: 100%;
    color: $text-color;
    height: calc(100vh - 6em);
    background: radial-gradient(94% 92.9% at 100% 96.1%, rgb(37, 65, 42) 0%, rgb(17, 16, 19) 100%)    ;
    font-family: $font-family;
    display: flex;
    justify-content: center;
    align-items: center;
}
.verde{
    color: rgb(85, 255, 181);
}
.content__developer{
    max-width: 20em;
}
.title__developer{
    font-size: 3rem;
     color:#fff;
}
.description__developer{
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.4rem;
    color: $text-color;
}
.vacantes-developer{
    justify-content: space-around;
    height: 3em;
    background-color: $bg-card-color;
    box-shadow: $box-shadow;
    width: 14em;
    font-family: "DM Mono", monospace;
    border-radius: 0.4em;
    display: flex;
    align-items: center;
    margin-top: 0.5em;
}
.img__developer{
    height: 15em;
    width: 15em;
    margin: 0 0 0 2em;
}

@media (max-width: 768px){
    .img__developer{
        position: absolute;
        opacity: 0.20;
    }
    .title__developer, .description__developer{
        text-align: center;
    }
    .content__developer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


