@import 'variables';

.footer{
    max-height: 20vh;
    width: 100%;
    padding: .5em 0 .5em 0;
    background-color: rgb(17, 16, 19);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.footer-content{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-rrss{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-title{
    color: $text-color;
    font-family: $font-family;
    font-size: 2rem;
}
.footer__list-rrss{
    margin-top: 1em;
    display: flex;
    align-items: center;
    list-style: none;
}
.footer__rrss-item{
    height: 2em;
    width: 2em;
    transition: transform 0.4s;
}
.footer__rrss-link{

}
.footer__rrss-img{
    height: 1.5em;
    width: 1.5em;
}

.footer__rrss-item:hover{
    transform: scale(1.10);
    transition: transform 0.4s;
}

.footer-creditos{
    margin: 0.20em;
    color: $text-color;
    font-family: $font-family;
    font-size: 1.4rem;
}

@media (max-width:768px){
    .footer{
        padding: .5em 0 .5em 0;
    }
}