.main{}
.section__joinus{
    padding-top: 7em;
    height: 85vh;
    width: 100%;
    background: $gradiant-yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
.joinus-img{
    height: 30em;
    width: 20em;

}
.joinus-content{
    max-height: 20em;
    max-width: 20em;
}
.joinus-title{
    max-width: 5em;
    font-family: $font-family;
    font-size: 5rem;
    color: $text-color;
}
.yellow{
    color: $yellow;
}
.joinus-description{
    font-family: $font-family;
    font-size: 1.4rem;
    font-weight: 600;
    color: $text-color;
    letter-spacing: 0.070em;
}
.joinus-links{
    font-family: $mine-font-family;
    display: flex;
    margin-top: 0.5em;
}
.joinus-link1{
    height: 2em;
    width: 5em;
    background-color: $yellow;
}
.joinus-link2{
    width: 10em;
    height: 2em;
    background-color: rgba(234, 232, 242, 0.2);
}
.link{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0em .5em 0 0;
    transition: transform 0.4s;
}

.link:hover{
    transform: scale(1.040);
    transition: transform 0.4s;
}

@media (max-width: 768px){
    .joinus-img{
        position: absolute;
        z-index: 0;
        opacity: 20%;
        height: 25em;
        width: calc(25 / 2);
    }
    
    header{
        z-index: 3;
    }

    .joinus-content{
        z-index: 1;
    }
    .menu{
        z-index: 3;
    }
    #elementos{
        z-index: 3;
    }
}