@import 'variables';

.section__resultados{
    height: calc(100vh - 6em);
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #FFF;
}
.process__resultados{
    color: rgb(107, 97, 255);
}
.title__resultados{
    font-family: $mine-font-family;
}
.subtitle__resultados{
    font-family: $font-family;
    font-size: 4rem;
    width: 5em;
}
.description__resultados{
    font-family: $font-family;
    font-size: 1.4rem;
    max-width: 20em;
}
.link__resultados{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.discord__resultados{
    width: 10em;
}



.targets__resultados{
    margin-left: 1em;
}
.cards__resultados{
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.08);
    max-width: 30em;
    background-color: rgb(211, 209, 209);
    max-height: 10em;
    border-radius: 0.4em;
    padding: 1em;
    transition: transform 0.4s;
}

.cards__resultados:hover{
    transform: scale(1.020);
    transition: transform 0.4s;
}

.cards__resultados-cabecera{
    display: flex;
    align-items: center;
}
.cards__resultados-img{
    width: 2em;
    height: 2em;
}
.cards__resultados-title{
    color: rgb(107, 97, 255);
    font-family: $font-family;
    font-size: 1.4rem;
}
.cards__resultados-description{
    font-family: $font-family;
}

@media (max-width: 768px){
    .section__resultados{
        flex-direction: column;
    }
    .subtitle__resultados{
        width: 100%;
    }
    .section__resultados{
        height: 120vh;
    }
    .process__resultados{
        text-align: center;
    }
}
