@font-face {
  font-family: Minecraft;
  src: url(/fonts/Minecraft.ttf);
}
.header {
  height: 7em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgb(17, 16, 19);
  z-index: 3;
}

.header-titles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  height: 4em;
  width: 4em;
}

.header-title {
  font-family: "Minecraft", sans-serif;
  letter-spacing: 0.1em;
  font-size: 1.3rem;
  color: hsl(0deg, 0%, 83%);
}

.header__nav-list {
  position: fixed;
  width: 100%;
  height: 60vh;
  background-color: rgba(44, 41, 41, 0.811);
  top: -70vh;
  left: 0;
  text-align: center;
  transition: top 0.5s;
}

.header__list-item {
  display: flex;
  justify-content: center;
  height: 20vh;
  width: 100%;
}

.header__list-link {
  transition: transform 0.4s;
  border: 1px solid hsl(0deg, 0%, 83%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(0deg, 0%, 83%);
  text-decoration: none;
  font-family: "Minecraft", sans-serif;
  letter-spacing: 0.1em;
}

.header__list-link:hover {
  transform: scale(1.04);
  transition: transform 0.4s;
}

.header__list__rrss {
  display: none;
}

.menu {
  position: fixed;
  bottom: 4em;
  right: 2em;
  background: radial-gradient(94% 58.3% at 50.3% 82.6%, #2a1f04 0%, var(--token-79f54f4b-5c08-4adb-84cd-68f4d833bf59, rgb(17, 16, 19)) 100%);
  border-radius: 50%;
  border: 1px solid hsl(0deg, 0%, 83%);
  width: 5em;
  height: 5em;
  z-index: 3;
}

.menu-img {
  width: 2em;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: space-around;
  }
  .menu {
    display: none;
  }
  .header__list__rrss {
    display: flex;
    list-style: none;
  }
  .header__list__rrss-list {
    margin: 0 0 0 0.5em;
  }
  .header__list__rrss-img {
    height: 1.3em;
    width: 1.3em;
  }
  .header__nav-list {
    display: flex;
    align-items: center;
    position: relative;
    height: 0;
    top: 0;
  }
  .header__list-item {
    height: 2em;
  }
  .header__list-link {
    position: relative;
    margin: 0 0.5em 0 0.5em;
    border: none;
    height: 2em;
  }
  .header__list__rrss-img:hover {
    transform: scale(1.04);
    transition: transform 0.4s;
  }
}
.section__joinus {
  padding-top: 7em;
  height: 85vh;
  width: 100%;
  background: radial-gradient(94% 58.3% at 50.3% 82.6%, #2a1f04 0%, var(--token-79f54f4b-5c08-4adb-84cd-68f4d833bf59, rgb(17, 16, 19)) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.joinus-img {
  height: 30em;
  width: 20em;
}

.joinus-content {
  max-height: 20em;
  max-width: 20em;
}

.joinus-title {
  max-width: 5em;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 5rem;
  color: hsl(0deg, 0%, 83%);
}

.yellow {
  color: rgb(250, 195, 56);
}

.joinus-description {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: hsl(0deg, 0%, 83%);
  letter-spacing: 0.07em;
}

.joinus-links {
  font-family: "Minecraft", sans-serif;
  display: flex;
  margin-top: 0.5em;
}

.joinus-link1 {
  height: 2em;
  width: 5em;
  background-color: rgb(250, 195, 56);
}

.joinus-link2 {
  width: 10em;
  height: 2em;
  background-color: rgba(234, 232, 242, 0.2);
}

.link {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0em 0.5em 0 0;
  transition: transform 0.4s;
}

.link:hover {
  transform: scale(1.04);
  transition: transform 0.4s;
}

@media (max-width: 768px) {
  .joinus-img {
    position: absolute;
    z-index: 0;
    opacity: 20%;
    height: 25em;
    width: 12.5;
  }
  header {
    z-index: 3;
  }
  .joinus-content {
    z-index: 1;
  }
  .menu {
    z-index: 3;
  }
  #elementos {
    z-index: 3;
  }
}
@font-face {
  font-family: Minecraft;
  src: url(/fonts/Minecraft.ttf);
}
.section__memberstaff {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30em;
  width: 100%;
  z-index: 2;
}

@media (max-width: 768px) {
  .section__memberstaff {
    flex-direction: column;
    height: 50em;
  }
}
.card__memberstaff {
  margin: 1em;
  max-width: 13em;
  color: hsl(0deg, 0%, 83%);
  font-family: "Barlow Condensed", sans-serif;
  padding: 1em;
  border-radius: 1em;
  background-color: hsl(0deg, 0%, 20%);
  box-shadow: 0.5em 0.5em 2em #1b1b1b, inset 0 0 0 #353535;
  transition: transform 0.4s;
}

.card__memberstaff:hover {
  transform: scale(1.04);
  transition: transform 0.4s;
}

.card__memberstaff-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card__memberstaff-frame {
  background-color: red;
  height: 3em;
}

.card__memberstaff-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.card__memberstaff-titles {
  margin: 0 0 0 0.5em;
  font-size: 1.2rem;
}

.card__memberstaff-description {
  font-size: 1.2rem;
}

@font-face {
  font-family: Minecraft;
  src: url(/fonts/Minecraft.ttf);
}
.section__developer {
  color: hsl(0deg, 0%, 83%);
  height: calc(100vh - 6em);
  background: radial-gradient(94% 92.9% at 100% 96.1%, rgb(37, 65, 42) 0%, rgb(17, 16, 19) 100%);
  font-family: "Barlow Condensed", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verde {
  color: rgb(85, 255, 181);
}

.content__developer {
  max-width: 20em;
}

.title__developer {
  font-size: 3rem;
}

.description__developer {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: hsl(0deg, 0%, 83%);
  letter-spacing: 0.07em;
}

.vacantes-developer {
  justify-content: space-around;
  height: 3em;
  background-color: hsl(0deg, 0%, 20%);
  box-shadow: 0.5em 0.5em 2em #1b1b1b, inset 0 0 0 #353535;
  width: 14em;
  font-family: "DM Mono", monospace;
  border-radius: 0.4em;
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

.img__developer {
  height: 15em;
  width: 15em;
  margin: 0 0 0 2em;
}

@media (max-width: 768px) {
  .img__developer {
    position: absolute;
    opacity: 0.2;
  }
}
@font-face {
  font-family: Minecraft;
  src: url(/fonts/Minecraft.ttf);
}
.section__staff {
  color: hsl(0deg, 0%, 83%);
  height: calc(100vh - 6em);
  background: radial-gradient(94% 92.9% at 0% 100%, rgb(33, 59, 80) 0%, rgb(17, 16, 19) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__staff {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.02em;
}

.description__staff {
  width: 20em;
}

.link__staff {
  font-family: "DM Mono", monospace;
  color: hsl(0deg, 0%, 83%);
  text-decoration: none;
  font-size: 1rem;
  height: 3em;
  background-color: hsl(0deg, 0%, 20%);
  box-shadow: 0.5em 0.5em 2em #1b1b1b, inset 0 0 0 #353535;
  font-family: "DM Mono", monospace;
  border-radius: 0.4em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 0.5em;
  max-width: 12em;
}

.link__staff:hover {
  transform: scale(1.04);
  transition: transform 0.4s;
}

.blue {
  color: rgb(89, 143, 238);
}

.img__staff {
  width: 20em;
  height: 20em;
  margin: 0 5em 0 0;
  transform: rotate(-15deg);
}

.img2__staff {
  width: 15em;
  height: 15em;
}

.arrow {
  height: 0.7em;
  width: 0.7em;
}

@media (max-width: 1125px) {
  .img2__staff {
    display: none;
  }
  .img__staff {
    position: absolute;
    opacity: 0.2;
    transform: rotate(0deg);
  }
}
body, * {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0deg, 0%, 15%);
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
}/*# sourceMappingURL=index.css.map */