@font-face {
  font-family: Minecraft;
  src: url(/fonts/Minecraft.ttf);
}
.header {
  height: 7em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgb(17, 16, 19);
}

.header-titles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  height: 4em;
  width: 4em;
}

.header-title {
  font-family: "Minecraft", sans-serif;
  letter-spacing: 0.1em;
  font-size: 1.3rem;
  color: hsl(0deg, 0%, 83%);
}

.header__nav-list {
  position: fixed;
  width: 100%;
  height: 60vh;
  background-color: hsl(0deg, 0%, 20%);
  top: -70vh;
  left: 0;
  text-align: center;
  transition: top 0.5s;
}

.header__list-item {
  display: flex;
  justify-content: center;
  height: 20vh;
  width: 100%;
}

.header__list-link {
  transition: transform 0.4s;
  border: 1px solid hsl(0deg, 0%, 83%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(0deg, 0%, 83%);
  text-decoration: none;
  font-family: "Minecraft", sans-serif;
  letter-spacing: 0.1em;
}

.header__list-link:hover {
  transform: scale(1.04);
  transition: transform 0.4s;
}

.header__list__rrss {
  display: none;
}

.menu {
  position: fixed;
  bottom: 4em;
  right: 2em;
  background: radial-gradient(94% 58.3% at 50.3% 82.6%, #2a1f04 0%, var(--token-79f54f4b-5c08-4adb-84cd-68f4d833bf59, rgb(17, 16, 19)) 100%);
  border-radius: 50%;
  border: 1px solid hsl(0deg, 0%, 83%);
  width: 5em;
  height: 5em;
}

.menu-img {
  width: 2em;
}

.activo {
  top: -100%;
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: space-around;
  }
  .menu {
    display: none;
  }
  .header__list__rrss {
    display: flex;
    list-style: none;
  }
  .header__list__rrss-list {
    margin: 0 0 0 0.5em;
  }
  .header__list__rrss-img {
    height: 1.3em;
    width: 1.3em;
  }
  .header__nav-list {
    display: flex;
    align-items: center;
    position: relative;
    height: 0;
    top: 0;
  }
  .header__list-item {
    height: 2em;
  }
  .header__list-link {
    position: relative;
    margin: 0 0.5em 0 0.5em;
    border: none;
    height: 2em;
  }
  .header__list__rrss-img:hover {
    transform: scale(1.04);
    transition: transform 0.4s;
  }
}
.section__joinus {
  padding-top: 7em;
  height: 85vh;
  width: 100%;
  background: radial-gradient(94% 58.3% at 50.3% 82.6%, #2a1f04 0%, var(--token-79f54f4b-5c08-4adb-84cd-68f4d833bf59, rgb(17, 16, 19)) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.joinus-img {
  height: 30em;
  width: 20em;
}

.joinus-content {
  max-height: 20em;
  max-width: 20em;
}

.joinus-title {
  max-width: 5em;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 5rem;
  color: hsl(0deg, 0%, 83%);
}

.yellow {
  color: rgb(250, 195, 56);
}

.joinus-description {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: hsl(0deg, 0%, 83%);
  letter-spacing: 0.07em;
}

.joinus-links {
  font-family: "Minecraft", sans-serif;
  display: flex;
  margin-top: 0.5em;
}

.joinus-link1 {
  height: 2em;
  width: 5em;
  background-color: rgb(250, 195, 56);
}

.joinus-link2 {
  width: 10em;
  height: 2em;
  background-color: rgba(234, 232, 242, 0.2);
}

.link {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0em 0.5em 0 0;
  transition: transform 0.4s;
}

.link:hover {
  transform: scale(1.04);
  transition: transform 0.4s;
}

@media (max-width: 768px) {
  .joinus-img {
    position: absolute;
    z-index: 0;
    opacity: 20%;
    height: 25em;
    width: 12.5;
  }
  .joinus-content {
    z-index: 1;
  }
}
body, * {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0deg, 0%, 15%);
  width: 100%;
  height: 100%;
}

main {
  width: 100vw;
}/*# sourceMappingURL=index.css.map */